.player-cont {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 60px;
  background-color: rgba(100, 100, 100, 0.7);

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  img {
    margin-left: 10px;
    width: auto;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      filter: brightness(1, 2);
    }
  }
  span {
    font-size: 24px;
    margin-left: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.active-player {
  background-color: rgb(89, 244, 107);
}
