<app-player
  (click)="editPlayer(i)"
  *ngFor="let player of game.players; let i = index"
  class="player-position hide-mobil"
  [ngStyle]="{ 'top.px': 20 + 70 * i }"
  [image]="game.playerImages[i]"
  [name]="player"
  [playerActive]="i == game.currentPlayer"
></app-player>
<div class="scroll-cont hide-fullscreen">
  <app-player-mobil
    (click)="editPlayer(i)"
    *ngFor="let player of game.players; let i = index"
    [image]="game.playerImages[i]"
    [name]="player"
    [playerActive]="i == game.currentPlayer"
  ></app-player-mobil>
</div>
<div class="field">
  <div class="card-stack">
    <!--stack draw for coverd cards-->
    <img
      *ngFor="let c of [1, 2, 3, 4, 5]; let i = index"
      [ngStyle]="{ 'right.px': i * 5 }"
      src="assets/img/card_cover.png"
    />
    <img
      (click)="takeCard()"
      class="top-card"
      style="right: 25px"
      src="assets/img/card_cover.png"
    />
    <!--stack played cards-->
    <img
      class="picked-cards"
      *ngFor="let card of game.playedCards"
      style="right: 25px"
      src="assets/img/{{ card }}.png"
    />
    <!--stack take current cards-->
    <img
      (click)="takeCard()"
      *ngIf="game.cardAnimation"
      class="pickcard"
      style="right: 25px"
      src="assets/img/{{ game.current_card }}.png"
    />
  </div>
</div>

<button mat-fab color="primary" class="add-button" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>

<img
  class="preload"
  src="assets/img/{{ game.stack[game.stack.length - 1] }}.png"
/>

<app-game-rules
  class="gamerules-cont"
  [card]="game.current_card"
></app-game-rules>
