.endscreen {
  background-color: rgb(155, 27, 27);
  position: absolute;
  z-index: -10;
  width: 100vw;
  height: 100vh;
  img {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.label-cont {
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 100px;
  img {
    width: 400px;
    height: auto;
    cursor: pointer;

    @media screen and (max-width: 500px) {
      width: 250px;
    }
    &:hover {
      filter: brightness(1.3);
    }
  }
}
